{% extends "::base.html.twig" %}

{% block title %}AcmeDemoBundle:Article:test{% endblock %}

{% block body %}
<h1>Welcome at the Article:test page</h1>
{% endblock %}




<img src="{{ asset('images/logo.png') }}" alt="Symfony!" />

<link href="{{ asset('css/blog.css') }}" rel="stylesheet" type="text/css" />